<div class="col-md-12 page">
	<div class="page-header">
		<h1>Projects</h1>
	</div>
	<div class="col-xs-4 text-center panel panel-default hover" ui-sref="projects.raspi">
		<img src="images/projects/raspi/main.jpg" alt="Raspberry Pi Project" style="width:100%"/>
		<p class="hidden-xs"></p>
		<p class="hidden-xs">RasPi Media Center/Emulator</p>
	</div>
	<div class="col-xs-4 text-center panel panel-default hover" ui-sref="projects.snes">
		<img src="images/projects/snes/main.jpg" alt="Bluetooth SNES Controller Project" style="width:100%"/>
		<p class="hidden-xs"></p>
		<p class="hidden-xs">Bluetooth SNES Controller</p>
	</div>
	<div class="col-xs-4 text-center panel panel-default hover" ui-sref="projects.tigercenter">
		<img src="images/projects/tigercenter/main.jpg" alt="Tiger Center Enrollment System" style="width:100%"/>
		<p class="hidden-xs"></p>
		<p class="hidden-xs">Tiger Center Enrollment System</p>
	</div>
	<div class="col-xs-12" data-ui-view></div>
</div>