<div class="col-md-12 page">
	<div class="page-header">
		<h1>FAQ</h1>
	</div>
	<h2>How do I find video streams for custom channels?</h2>
	<p>This question has two parts that depend on the source you are trying to get.  One is the easy way, and the other is more technical.</p>
	<h3>The Easy Way</h3>
	<p>Stub</p>
	<h3>The Hard Way</h3>
	<p>Stub</p>
	
	<h2>How do I restore a default channel I removed?</h2>
	<p>In order to restore channels, you must go to Settings within the application, and select "Restore Default Channels" this will re-add any channels you deleted, and will unfavorite any default channels you have favorited.</p>
	
	<h2>How do I remove a channel I no longer want?</h2>
	<p>You can do this by either right clicking (on PC), or long-pressing on the channel in the channel list.  When you do this, a menu will appear allowing you to remove the channel.</p>
	<br>
</div>