<div class="col-xs-12" style="background-color: #81C057; color: white;box-shadow: 0px 4px 10px -2px #888;">
	<div class="jumbotron container" style="background-color: transparent; text-align: center;">
		<h1>
			<img width="100" src="site/images/logo-large.png" style="margin-top:-8px;"/>
			Kiwi TV
		</h1>
		<h4 style="font-weight:lighter">Your source for watching your favorite live Internet Television (IPTV) channels.</h4>
		<br><br>
		<a class="btn btn-lg btn-success" href="https://www.microsoft.com/store/apps/9NBLGGH4M0KR" target="_">Download Now</a>
	</div>
</div>
<div class="col-xs-12">
	<div class="container">
		<br>
		<div>
			<h2>Watch and favorite channels from around the world</h2>
			<p>Access over 25 built-in default channels spanning a wide range of categories, from news to music to science, Kiwi TV has something for everyone.</p>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="#/player?video=http%3A%2F%2Fstate.ak.tvwmedia.net%3A1935%2Fktoo-live%2F_definst_%2F360north%2Fplaylist.m3u8">
					<img alt="360 North" src="site/images/channels/360north.png" class="img-responsive channel"/>
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="#/player?video=http%3A%2F%2Faljazeera-eng-apple-live.adaptive.level3.net%2Fapple%2Faljazeera%2Fenglish%2F800.m3u8">
					<img alt="Aljazeera" src="site/images/channels/aljazeera.png" class="img-responsive channel"/>
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="#/player?video=http%3A%2F%2Famdlive.ctnd.com.edgesuite.net%2Farirang_1ch%2Fsmil%3Aarirang_1ch.smil%2Fplaylist.m3u8">
					<img alt="Arirang TV" src="site/images/channels/arirangtv.png" class="img-responsive channel"/>
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="#/player?video=http%3A%2F%2Frtmp.infomaniak.ch%2Flivecast%2Fbeatz_3%2Fplaylist.m3u8">
					<img alt="Beatz TV" src="site/images/channels/beatztv.png" class="img-responsive channel"/>
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="#/player?video=http%3A%2F%2Fcdn3.videos.bloomberg.com%2Fbtv%2Fus%2Fmaster.m3u8">
					<img alt="Bloomberg" src="site/images/channels/bloomberg.png" class="img-responsive channel"/>
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="#/player?video=http%3A%2F%2Fdwstream4-lh.akamaihd.net%2Fi%2Fdwstream4_live%40131329%2Fmaster.m3u8">
					<img alt="Deutshce Welle" src="site/images/channels/deutschewelle.png" class="img-responsive channel"/>
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="#/player?video=http%3A%2F%2Fdwstream2-lh.akamaihd.net%2Fi%2Fdwstream2_live%40124400%2Fmaster.m3u8">
					<img alt="Deutshce Welle (Arabia)" src="site/images/channels/dwarabia.png" class="img-responsive channel"/>
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="#/player?video=http%3A%2F%2Fdwstream3-lh.akamaihd.net%2Fi%2Fdwstream3_live%40124409%2Fmaster.m3u8">
					<img alt="Deutshce Welle (Latinoamerica)" src="site/images/channels/dwlatinoamerica.png" class="img-responsive channel"/>
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="#/player?video=http%3A%2F%2Ffr-par-iphone-2.cdn.hexaglobe.net%2Fstreaming%2Feuronews_ewns%2Fipad_en.m3u8">
					<img alt="Euro News" src="site/images/channels/euronews.png" class="img-responsive channel"/>
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="#/player?video=http%3A%2F%2Fshophqlivehls-i.akamaihd.net%2Fhls%2Flive%2F217244%2Fonair%2Fmaster.m3u8">
					<img alt="Evine TV" src="site/images/channels/evinetv.png" class="img-responsive channel"/>
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="#/player?video=http%3A%2F%2Fstatic.france24.com%2Flive%2FF24_EN_LO_HLS%2Flive_web.m3u8">
					<img alt="France 24" src="site/images/channels/france24.png" class="img-responsive channel"/>
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="#/player?video=http%3A%2F%2Finfowarslive-lh.akamaihd.net%2Fi%2Finfowarslivestream_1%40353459%2Fmaster.m3u8">
					<img alt="Info Wars" src="site/images/channels/infowars.png" class="img-responsive channel"/>
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="#/player?video=http%3A%2F%2Fjblive.videocdn.scaleengine.net%2Fjb-live%2Fplay%2Fjblive.stream%2Fplaylist.m3u8">
					<img alt="Jupiter Broadcasting" src="site/images/channels/jupiterbroadcasting.png" class="img-responsive channel"/>
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="#/player?video=http%3A%2F%2Fbcoveliveios-i.akamaihd.net%2Fhls%2Flive%2F217434%2F3083279840001%2Fmaster_900.m3u8">
					<img alt="London Live" src="site/images/channels/londonlive.png" class="img-responsive channel"/>
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="#/player?video=http%3A%2F%2Fm2otv-lh.akamaihd.net%3A80%2Fi%2Fm2oTv_1%40186074%2Findex_600_av-b.m3u8">
					<img alt="M2O TV" src="site/images/channels/m2otv.png" class="img-responsive channel"/>
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="#/player?video=http%3A%2F%2Fnasatv-lh.akamaihd.net%2Fi%2FNASA_101%40319270%2Findex_1000_av-p.m3u8">
					<img alt="NASA TV" src="site/images/channels/nasatv.png" class="img-responsive channel"/>
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="#/player?video=http%3A%2F%2Fiphone-streaming.ustream.tv%2Fuhls%2F17074538%2Fstreams%2Flive%2Fplaylist.m3u8">
					<img alt="NASA TV ISS" src="site/images/channels/nasatviss.png" class="img-responsive channel"/>
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="#/player?video=http%3A%2F%2Fiphone-streaming.ustream.tv%2Fuhls%2F10414700%2Fstreams%2Flive%2Fplaylist.m3u8">
					<img alt="NASA TV Media" src="site/images/channels/nasatvmedia.png" class="img-responsive channel"/>
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="#/player?video=https%3A%2F%2Fnhkworld.webcdn.stream.ne.jp%2Fwww11%2Fnhkworld-tv%2Fglobal%2F263941%2Flive_wa_s.m3u8">
					<img alt="NHK World" src="site/images/channels/nhkworld.png" class="img-responsive channel"/>
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="#/player?video=http%3A%2F%2Fcdn.rbm.tv%2Frightbrainmedia-live-109%2F_definst_%2Fsmil%3Aradioutv_all.smil%2Fplaylist.m3u8">
					<img alt="Radio U" src="site/images/channels/radiou.png" class="img-responsive channel"/>
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="#/player?video=http%3A%2F%2Frt-doc-live.hls.adaptive.level3.net%2Frt%2Fdoc%2Findex1600.m3u8">
					<img alt="Russia Today Documentary" src="site/images/channels/rtdocumentaries.png" class="img-responsive channel"/>
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="#/player?video=http%3A%2F%2Frt-eng-live.hls.adaptive.level3.net%2Frt%2Feng%2Findex1600.m3u8">
					<img alt="Russia Today" src="site/images/channels/russiatoday.png" class="img-responsive channel"/>
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="#/player?video=http%3A%2F%2Fmusicbox.cdnvideo.ru%2Fmusicbox%2Fmusicbox.sdp%2Fplaylist.m3u8">
					<img alt="Russian Music Box" src="site/images/channels/russianmusicbox.png" class="img-responsive channel"/>
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="#/player?video=http%3A%2F%2Fcdn.rbm.tv%2Frightbrainmedia-live-109%2F_definst_%2Fsmil%3Aspirit_all.smil%2Fplaylist.m3u8">
					<img alt="Spirit Television" src="site/images/channels/spirittelevision.png" class="img-responsive channel"/>
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="#/player?video=http%3A%2F%2Fiphone-streaming.ustream.tv%2Fuhls%2F19964352%2Fstreams%2Flive%2Fplaylist.m3u8">
					<img alt="Toonami Aftermath" src="site/images/channels/toonami.png" class="img-responsive channel"/>
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="#/player?video=http%3A%2F%2Ftvsn-lh.akamaihd.net%2Fi%2FTVSN_1%40137553%2Fmaster.m3u8">
					<img alt="TV Shopping Network" src="site/images/channels/tvshoppingnetwork.png" class="img-responsive channel"/>
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="#/player?video=http%3A%2F%2Fcdnapi.kaltura.com%2Fp%2F931702%2Fsp%2F93170200%2FplayManifest%2FentryId%2F1_oorxcge2%2Fformat%2Fapplehttp%2Fprotocol%2Fhttp%2FuiConfId%2F28428751%2Fa.m3u8">
					<img alt="Weather Nation" src="site/images/channels/weathernation.png" class="img-responsive channel"/>
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="#/player?video=http%3A%2F%2Fcdn-01.bonus-tv.ru%3A9090%2Fwfc%2Fwfhdeu%2Ftype%2Fnone%2Feol%2F20200101T0000%2Fhash%2Faabac2e34bf0820ea622974e83ae509b36cff888%2Fplaylist.m3u8">
					<img alt="World Fashion TV" src="site/images/channels/wftv.png" class="img-responsive channel"/>
				</a>
			</div>
		</div>
		<div class="col-xs-12" />
		
		<h2>Add channels from Twitch, UStream and almost any internet stream</h2>
		<div class="vparent">
			<p class="vcenter">
				Search for and add channels from <b>Twitch.tv</b>, <b>UStream.tv</b>, or any <b>.m3u8</b>, <b>.mp4</b>, or <b>.mkv</b> stream available online.
				Even add and share lists of your favorite streams using extended .m3u8 files.
			</p>
			<img class="screenshot hidden-xs" src="site/images/screens/add.png" alt="Add Channels"/>
		</div>
		<h2>Works across your Windows ecosystem</h2>
		<div class="vparent">
			<img class="screenshot hidden-xs" src="site/images/screens/main.png" alt="Main Screen"/>
			<span class="vcenter">
				Cast channels to connected devices such as <b>Xbox One</b>, and sync your channel list and favorites across all of your Windows devices*.<br><br>
				* <i>You must turn on "Sync settings" within Windows Settings in order for device sync to function properly.</i>
			</span>
		</div>
		<br>
	</div>
</div>