<div class="col-xs-12" style="background-color: #81C057; color: white;box-shadow: 0px 4px 10px -2px #888;">
	<div class="jumbotron container" style="background-color: transparent; text-align: center;">
		<h1>
			<img width="100" src="site/images/logo-large.png" style="margin-top:-8px;"/>
			Kiwi TV
		</h1>
		<h4 style="font-weight:lighter">Your source for watching your favorite live Internet Television (IPTV) channels.</h4>
		<br><br>
		<a class="btn btn-lg btn-success" href="https://www.microsoft.com/store/apps/9NBLGGH4M0KR" target="_">Download Now</a>
	</div>
</div>
<div class="col-xs-12">
	<div class="container">
		<br>
		<div>
			<h2>Watch and favorite channels from around the world</h2>
			<p>Access over 25 built-in default channels spanning a wide range of categories, from news to music to science, Kiwi TV has something for everyone.</p>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="http://state.ak.tvwmedia.net:1935/ktoo-live/_definst_/360north/playlist.m3u8">
					<img alt="360 North" src="site/images/channels/360north.png" class="img-responsive channel"/>
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="http://amdlive.ctnd.com.edgesuite.net/arirang_1ch/smil:arirang_1ch.smil/playlist.m3u8">
					<img alt="Arirang TV" src="site/images/channels/arirangtv.png" class="img-responsive channel"/>
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="http://rtmp.infomaniak.ch/livecast/beats_1/playlist.m3u8">
					<img alt="Beatz TV" src="site/images/channels/beatztv.png" class="img-responsive channel"/>
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="http://cdn3.videos.bloomberg.com/btv/us/master.m3u8">
					<img alt="Bloomberg" src="site/images/channels/bloomberg.png" class="img-responsive channel"/>
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="http://iphone-streaming.ustream.tv/uhls/13635287/streams/live/iphone/playlist.m3u8">
					<img alt="Cartoon 7 TV" src="site/images/channels/cartoon7tv.png" class="img-responsive channel"/>
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="http://dwstream4-lh.akamaihd.net/i/dwstream4_live@131329/master.m3u8">
					<img alt="Deutshce Welle" src="site/images/channels/deutschewelle.png" class="img-responsive channel"/>
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="http://dwstream2-lh.akamaihd.net/i/dwstream2_live@124400/master.m3u8">
					<img alt="Deutshce Welle (Arabia)" src="site/images/channels/dwarabia.png" class="img-responsive channel"/>
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="http://dwstream3-lh.akamaihd.net/i/dwstream3_live@124409/master.m3u8">
					<img alt="Deutshce Welle (Latinoamerica)" src="site/images/channels/dwlatinoamerica.png" class="img-responsive channel"/>
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="http://fr-par-iphone-2.cdn.hexaglobe.net/streaming/euronews_ewns/9-live.m3u8">
					<img alt="Euro News" src="site/images/channels/euronews.png" class="img-responsive channel"/>
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="http://shophqlivehls-i.akamaihd.net/hls/live/217244/onair/master.m3u8">
					<img alt="Evine TV" src="site/images/channels/evinetv.png" class="img-responsive channel"/>
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="http://dwstream2-lh.akamaihd.net/i/dwstream2_live@124400/master.m3u8">
					<img alt="France 24" src="site/images/channels/france24.png" class="img-responsive channel"/>
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="http://infowarslive-lh.akamaihd.net/i/infowarslivestream_1@353459/master.m3u8">
					<img alt="Info Wars" src="site/images/channels/infowars.png" class="img-responsive channel"/>
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="http://jblive.videocdn.scaleengine.net/jb-live/play/jblive.stream/playlist.m3u8">
					<img alt="Jupiter Broadcasting" src="site/images/channels/jupiterbroadcasting.png" class="img-responsive channel"/>
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="http://bcoveliveios-i.akamaihd.net/hls/live/217434/3083279840001/master_900.m3u8">
					<img alt="London Live" src="site/images/channels/londonlive.png" class="img-responsive channel"/>
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="http://m2otv-lh.akamaihd.net:80/i/m2oTv_1@186074/index_600_av-b.m3u8">
					<img alt="M2O TV" src="site/images/channels/m2otv.png" class="img-responsive channel"/>
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="http://nasatv-lh.akamaihd.net/i/NASA_101@319270/index_1000_av-p.m3u8">
					<img alt="NASA TV" src="site/images/channels/nasatv.png" class="img-responsive channel"/>
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="http://iphone-streaming.ustream.tv/uhls/17074538/streams/live/playlist.m3u8">
					<img alt="NASA TV ISS" src="site/images/channels/nasatviss.png" class="img-responsive channel"/>
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="http://iphone-streaming.ustream.tv/uhls/10414700/streams/live/playlist.m3u8">
					<img alt="NASA TV Media" src="site/images/channels/nasatvmedia.png" class="img-responsive channel"/>
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="http://nhkwglobal-i.akamaihd.net/hls/live/222714/nhkwglobal/index_1180.m3u8">
					<img alt="NHK World" src="site/images/channels/nhkworld.png" class="img-responsive channel"/>
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="http://cdn.rbm.tv/rightbrainmedia-live-109/_definst_/smil:radioutv_all.smil/playlist.m3u8">
					<img alt="Radio U" src="site/images/channels/radiou.png" class="img-responsive channel"/>
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="http://rt-doc-live.hls.adaptive.level3.net/rt/doc/index1600.m3u8">
					<img alt="Russia Today Documentary" src="site/images/channels/rtdocumentaries.png" class="img-responsive channel"/>
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="http://rt-eng-live.hls.adaptive.level3.net/rt/eng/index1600.m3u8">
					<img alt="Russia Today" src="site/images/channels/russiatoday.png" class="img-responsive channel"/>
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="http://musicbox.cdnvideo.ru/musicbox/musicbox.sdp/playlist.m3u8">
					<img alt="Russian Music Box" src="site/images/channels/russianmusicbox.png" class="img-responsive channel"/>
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="http://cdn.rbm.tv/rightbrainmedia-live-109/_definst_/smil:spirit_all.smil/playlist.m3u8">
					<img alt="Spirit Television" src="site/images/channels/spirittelevision.png" class="img-responsive channel"/>
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="http://tvsn-lh.akamaihd.net/i/TVSN_1@137553/master.m3u8">
					<img alt="TV Shopping Network" src="site/images/channels/tvshoppingnetwork.png" class="img-responsive channel"/>
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="http://cdnapi.kaltura.com/p/931702/sp/93170200/playManifest/entryId/1_oorxcge2/format/applehttp/protocol/http/uiConfId/28428751/a.m3u8">
					<img alt="Weather Nation" src="site/images/channels/weathernation.png" class="img-responsive channel"/>
				</a>
			</div>
			<div class="col-xs-4 col-sm-3 col-md-2">
				<a href="http://cdn-01.bonus-tv.ru:9090/wfc/wfhdeu/type/none/eol/20200101T0000/hash/aabac2e34bf0820ea622974e83ae509b36cff888/playlist.m3u8">
					<img alt="World Fashion TV" src="site/images/channels/wftv.png" class="img-responsive channel"/>
				</a>
			</div>
		</div>
		<div class="col-xs-12" />
		<h2>Add channels from Twitch, UStream and almost any internet stream</h2>
		<p>Search for and add channels from Twitch.tv, UStream.tv, and any .m3u8, .mp4, or .mkv stream available online.</p>
		<h2>Works across your Windows ecosystem</h2>
		<p>Cast channels to connected devices such as Xbox One, and sync your channel list and favorites across all of your Windows devices*.</p>
		<p>* <i>You must turn on "Sync settings" within Windows Settings in order for device sync to function properly.</i></p>
		<!--p>
			I hope you enjoy this app, and look forward to hearing any feedback you may have to make it even better!
		</p-->
		<br>
	</div>
</div>