<div class="col-md-12">
	<div class="page-header">
		<h1>Welcome</h1>
		
	</div>
		
	<div class="hidden-sm hidden-xs" style="margin-top:-155px;margin-bottom: 25px;">
		<hr>
		<p>
			Welcome to racer159.github.io, I am a fifth year Software Engineering student attending Rochester Institute of Technology and created this site to serve as a portfolio of some of my work.  
			Above you can see an interactive alarm clock along with links to my resume, projects, and my personal GitHub account.  This site was written by myself using angular.js to control the 
			navigation and interactive elements, and bootstrap to serve as a jumping off point for CSS styling.  If you have any questions about the site feel free to contact me via email at
			<a href="mailto:wes7817@g.rit.edu">wes7817@g.rit.edu</a>.  Again, welcome, and thanks for taking a look.
		</p>
	</div>
	
	<div class="visible-sm visible-xs"  style="margin-top:-25px;margin-bottom: 25px;">
		<hr>
		<p>
			Welcome to racer159.github.io, I am a fifth year Software Engineering student attending Rochester Institute of Technology and created this site to serve as a portfolio of some of my work.  
			Above you can see an interactive alarm clock along with links to my resume, projects, and my personal GitHub account.  This site was written by myself using angular.js to control the 
			navigation and interactive elements, and bootstrap to serve as a jumping off point for CSS styling.  If you have any questions about the site feel free to contact me via email at
			<a href="mailto:wes7817@g.rit.edu">wes7817@g.rit.edu</a>.  Again, welcome, and thanks for taking a look.
		</p>
	</div>
</div>